html {
    box-sizing: border-box;
    scroll-behavior: smooth;
   }
   
   *,
   *::before,
   *::after {
    box-sizing: inherit;
   }

:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --main-color: #08A6E4;
}
a {
    text-decoration: none;
    color: unset;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}   


 /* ----header---- */

.nav__main {
    box-shadow: 0px 3px 6px #00000029;
}

.logo {
    color: var(--main-color);  
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0px;
    padding: 16px 0  17px 0;
}

.logo:hover {   
    background-color: #00000029;
    transition: 1s;
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

.nav {
    display: flex;
    gap: 95px;
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: #A5A5A5;
    text-transform: uppercase;
    padding: 27px 0 28px 0;
}

.nav__items:hover {
    color: var(--color-black);

    position: relative;

    transition: 0.5s;
}

.nav__items:hover::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--main-color);

    position: absolute;
    bottom: -29px;
    left: 0;
}

/* ----Opening--- */

.opening__wrapper {
    display: flex;
    flex-direction: column;
}

.opening__title {
    text-align: center;
    color: var(--color-black);  
    font: normal normal normal 49px/57px Raleway;
    letter-spacing: 0px;

    padding: 130px 0 20px 0;
}

.opening__text {
    text-align: center;
    color: var(--color-black);
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;

    margin: 0 0 38px 0;
}

.opening__btn {
    background-color: var(--main-color);
    padding: 22px 157px 23px 157px;
    font: normal normal bold 16px/22px Open Sans;
    letter-spacing: 0px;
    color: var(--color-white);
    border-radius: 40px;

    display: inline-block;
    margin: 0 auto;
}

.opening__img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

/* ----Statistics---- */

.statistics {
    background-color: var(--color-white);
    text-align: center;
}

.statistics__title {
    padding: 22px 0 100px 0;
    color: var(--color-black);
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
}

.statistics__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.statistic__circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.statistics__icon {
    position: absolute;
}

.statistic__circle--person {
    background-color: #FB3B64;
}

.statistic__circle--eye {
    background-color: #08A6E4;
}

.statistic__circle--catalog {
    background-color: #55DFB4;
}

.statistics__icon--person {
    top: 5px;
}

.statistics__icon--eye {
    top: 15px;
    left: 21px;
}

.statistics__icon--catalog {
    top: 8px;
}

.statistics__header {
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 5.96px;
    padding: 13px 0 0 0;
}

.statistics__text {
    color: #A5A5A5;
    font: normal normal normal 16px/19px Raleway;
    letter-spacing: 0px;
    margin-top: 19px;
    padding-bottom: 121px;
}

/* ----Benefits---- */

.benefits__container {
    max-width: 1124px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 37px;
    padding: 105px 0;
}

.benefits {
    background-color: #F7F7F7;
}

.benefits__items {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #E8E9ED;
}

.benefits__header {
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: var(--color-black);
    margin-bottom: 30px;
}

.benefits__text {
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: var(--color-black);
}

.benefits__divider {
    width: 327px;
    height: 4px;
    margin-top: 46px;
}

.item__1--divider {
    background-color: #FB3B64;
}

.item__1--container {
    padding: 91px 0 91px 35px;
    max-width: 451px;
}

.item__1,
.item__2,
.item__3 {
    position: relative;
}

.benefits__img--macbook {
    position: absolute;
    right: 117px;
    bottom: 38px;
    z-index: 1;
}

.benefits__square {
    width: 180px;
    height: 180px;
    background-color: #FB3B64;
    border-radius: 0px;
    rotate: 45deg;
    border-radius: 41px;

    position: absolute;
    right: 91px;
    top: 58px;
}

.item__2--container {
    max-width: 416px;
    padding: 69px 20px 71px 0;
}

.item__2--divider {
    background-color: #08A6E4;
}

.benefits__img--phone {
    position: absolute;
    left: 70px;
    top: 29px;
    z-index: 1;
}

.benefits__circle {
    position: absolute;
    width: 320px;
    height: 320px;
    background-color: #07ACE6;
    border-radius: 50%;
    top: 12px;
    left: 70px;
}

.item__3 {
    display: flex; 
    gap: 61px;
    background-color: #F7F7F7;
}

.item__3--container {
    width: 623px;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.item__3--wrapper {
    background-color: #55DFB4;
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.item__3--container {
    padding: 69px 0 71px 35px;
}

.item__3--divider {
    background-color: #55DFB4;
}