html {
    box-sizing: border-box;
    scroll-behavior: smooth;
   }
   
   *,
   *::before,
   *::after {
    box-sizing: inherit;
   }

:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --main-color: #08A6E4;
}
a {
    text-decoration: none;
    color: unset;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}   

li {
    list-style: none;
}

 /* ----header---- */

.nav__main {
    box-shadow: 0px 3px 6px #00000029;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: var(--color-white);
}

.logo {
    color: var(--main-color);  
    font: normal normal 300 2rem/2.3125rem Raleway;
    letter-spacing: 0rem;
    padding: 16px 0  17px 0;
}

.logo:hover {   
    background-color: #00000029;
    transition: 1s;
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

.nav {
    display: flex;
    gap: 95px;
    font: normal normal bold 0.6875rem/0.9375rem Open Sans;
    letter-spacing: 0.205rem;
    color: #A5A5A5;
    text-transform: uppercase;
    padding: 27px 0 28px 0;
}

.nav__items:hover {
    color: var(--color-black);

    position: relative;

    transition: 0.5s;
}

.nav__items:hover::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--main-color);

    position: absolute;
    bottom: -29px;
    left: 0;
}

/* ----Opening--- */

.opening__wrapper {
    display: flex;
    flex-direction: column;
}

.opening__title {
    text-align: center;
    color: var(--color-black);  
    font: normal normal normal 3.0625rem/3.5625rem Raleway;
    letter-spacing: 0rem;

    padding: 130px 0 20px 0;
}

.opening__text {
    text-align: center;
    color: var(--color-black);
    font: normal normal normal 1rem/22px Open Sans;
    letter-spacing: 0px;

    margin: 0 0 38px 0;
}

.opening__btn {
    background-color: var(--main-color);
    padding: 22px 157px 23px 157px;
    font: normal normal bold 16px/1.375rem Open Sans;
    letter-spacing: 0rem;
    color: var(--color-white);
    border-radius: 40px;

    display: inline-block;
    margin: 0 auto;
}

.opening__btn:hover {
    background-color: #086be4;
    transition: 1s;
    color: rgb(253, 255, 110);
}

.opening__img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

/* ----Statistics---- */

.statistics {
    background-color: var(--color-white);
    text-align: center;
}

.statistics__title {
    padding: 22px 0 100px 0;
    color: var(--color-black);
    font: normal normal normal 2.25rem/2.625rem Raleway;
    letter-spacing: 0rem;
}

.statistics__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.statistic__circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.statistics__icon {
    position: absolute;
}

.statistic__circle--person {
    background-color: #FB3B64;
}

.statistic__circle--eye {
    background-color: #08A6E4;
}

.statistic__circle--catalog {
    background-color: #55DFB4;
}

.statistics__icon--person {
    top: 5px;
}

.statistics__icon--eye {
    top: 15px;
    left: 21px;
}

.statistics__icon--catalog {
    top: 8px;
}

.statistics__header {
    font: normal normal 800 1.25rem/1.5rem Raleway;
    letter-spacing: 0.3725rem;
    padding: 13px 0 0 0;
}

.statistics__text {
    color: #A5A5A5;
    font: normal normal normal 1rem/1.1875rem Raleway;
    letter-spacing: 0rem;
    margin-top: 19px;
    padding-bottom: 121px;
}

/* ----Benefits---- */

.benefits__container {
    max-width: 1124px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 37px;
    padding: 105px 0;
}

.benefits {
    background-color: #F7F7F7;
}

.benefits__items {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #E8E9ED;
}

.benefits__header {
    font: normal normal normal 2.25rem/2.625rem Raleway;
    letter-spacing: 0rem;
    color: var(--color-black);
    margin-bottom: 30px;
}

.benefits__text {
    font: normal normal normal 1rem/1.375rem Open Sans;
    letter-spacing: 0rem;
    color: var(--color-black);
}

.benefits__divider {
    width: 327px;
    height: 4px;
    margin-top: 46px;
}

.item__1--divider {
    background-color: #FB3B64;
}

.item__1--container {
    padding: 91px 0 91px 35px;
    max-width: 451px;
}

.item__1,
.item__2,
.item__3 {
    position: relative;
}

.benefits__img--macbook {
    position: absolute;
    right: 117px;
    bottom: 38px;
    z-index: 1;
}

.benefits__square {
    width: 180px;
    height: 180px;
    background-color: #FB3B64;
    border-radius: 0px;
    rotate: 45deg;
    border-radius: 41px;

    position: absolute;
    right: 91px;
    top: 58px;
}

.item__2--container {
    max-width: 416px;
    padding: 69px 20px 71px 0;
}

.item__2--divider {
    background-color: #08A6E4;
}

.benefits__img--phone {
    position: absolute;
    left: 70px;
    top: 29px;
    z-index: 1;
}

.benefits__circle {
    position: absolute;
    width: 320px;
    height: 320px;
    background-color: #07ACE6;
    border-radius: 50%;
    top: 12px;
    left: 70px;
}

.item__3 {
    display: flex; 
    gap: 61px;
    background-color: #F7F7F7;
}

.item__3--container {
    width: 623px;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.item__3--wrapper {
    background-color: #55DFB4;
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.item__3--container {
    padding: 69px 0 71px 35px;
}

.item__3--divider {
    background-color: #55DFB4;
}

/* ----pricing---- */

.pricing__items {
    width: 372px;

    border: 1px solid #FB3B64; border-radius: 18px;

    position: relative;
}

.pricing__header {
    color: var(--color-black);
    text-align: center;
    font: normal normal normal 2.25rem/2.625rem Raleway;
    letter-spacing: 0rem;
    padding: 100px 0 50px 0;
}

.pricing__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 81px;
    font-size: 0.875rem;
    font-family: Open Sans;
    color: var(--color-black);
    line-height: 2.4375rem;
}

.pricing__items--header {
    font-family: Raleway;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 34px 0 14px 0;
    text-align: center;
    color: #13253B;
}

.pricing__items--price {
    font-family: "Open Sans";
    font-size: 2.875rem;
    font-weight: lighter;
    padding: 0 0 69px 0;
    text-align: center;
    color: #FB3B64;
}

.pricing__items--btn {
    position: absolute;
    bottom: -25px;
    display: inline-block;
    padding: 16px 57px;
    background-color: #EB476E;
    font: normal normal bold 0.8125rem Open Sans;
    letter-spacing: 0rem;
    color: #FFFFFF;
    margin: 0 111px;
    border-radius: 23px;
}

.pricing__items--btn:hover {
    background-color: #b33654;
    transition: 1s;
    color: #d4d4d4;
}

.available::before {
    content: url(../Images/Checkmark-2.svg);
    margin-right: 10px;
}

.not__available::before {
    content: url(../Images/Close.svg);
    margin-right: 10px;
}

.pricing__item3 {
    border: 1px solid #55DFB4;
}

.pricing__item3--price {
    color: #55DFB4;
    position: relative;
}

.pricing__item3--price::after {
    content: "Limited offer";
    position: absolute;
    font: normal normal bold 0.75rem/0.0625rem Raleway;
    letter-spacing: 0rem;
    color: #13253B;
    top: 69px;
    left: 150px;
}

.pricing__item3--btn {
    background-color: #55DFB4;
}

.pricing__item3--btn:hover {
    background-color: #40a283;
    transition: 1s;
}

.pricing__item2 {
    width: 405px;
    border: 1px solid #07ACE6;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 5px 10px 27px #07ACE629;
}

.pricing__items2--header {
    font: normal normal bold 1.3125rem/0.0625rem Raleway;
    letter-spacing: 0rem;
    color: #13253B;
    padding: 34px 0 24px 0;
}

.pricing__items2--price {
    font-family: Open Sans;
    font-size: 2.875rem;
    font-weight: 300;
    line-height: 2.875rem;
    letter-spacing: 0rem;
    color: #07ACE6;
    padding: 0 0 20px 0;
}

.pricing__offer {
    font-family: Raleway;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0rem;
    color: #13253B;
    padding: 0 0 61px 0;
}

.pricing__item2--list {
    font: normal normal normal 0.875rem/2.5625rem Open Sans;
    letter-spacing: 0rem;
    color: #000000;
    padding-bottom: 79px;
}

.pricing__item2--btn {
    padding: 16px 64px;
    background-color: #07ACE6;
    border-radius: 23px;
    margin: 0 auto;
    position: absolute;
    bottom: -25px;
}

.pricing__item2--btn:hover {
    background-color: #0578a1;
    transition: 1s;
    color: #cdcdcd;
}

.pricing__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 59px;
    align-items: center;
}

/* ----contact---- */

.contact__container {
    max-width: 896px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 179px;
    padding-bottom: 59px;
}

.contact__left {
    max-width: 50%;
}

.contact__form {
    max-width: 50%;
}

.contact__contact {
    display: flex;
    gap: 20px;
}

.contact__title {
    font: normal normal normal 3.0625rem/3.5625rem Raleway;
    letter-spacing: 0rem;
    color: #000000;
    padding-bottom: 22px;
}

.contact__left--text {
    font: normal normal normal 1rem/1.375rem Open Sans;
    letter-spacing: 0rem;
    color: #000000;
    padding-bottom: 42px;
}

.contact__contacts {
    font: normal normal 600 1rem/1.375rem Open Sans;
    letter-spacing: 0rem;
    color: #A5A5A5;
}

.contact_consent {
    display: flex;
    gap: 10px;
    position: relative;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.form__label {
    color: #08A6E4;
    padding-bottom: 26px;
}

.form__input {
    border: none;
    border-bottom: 1px solid var(--color-black);
}

.form__email {
    padding-top: 42px;
}

.consent__text {
    font: normal normal normal 0.75rem/1.0625rem Open Sans;
    letter-spacing: 0rem;
    color: #707070;
    padding-bottom: 20px;
}

.consent__checkbox {
    align-self: start;
    margin-top: 30px;
}

.consent__btn {
    padding: 20px 97px;
    background-color: #08A6E4;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    justify-self: end;
    font: normal normal bold 0.8125rem/1.125rem Open Sans;
    letter-spacing: 0rem;
    color: #FFFFFF;
}

.consent__btn:hover {
    background-color: #0578a1;
    transition: 1s;
    color: #cdcdcd;
}

.footer {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    box-shadow: 0px -5px 40px #00000029;
}

.footer__container {
    max-width: 1352px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__right {
    display: flex;
    gap: 20px;
}

.footer__title {
    font: normal normal 300 1.625rem/1.875rem Raleway;
    letter-spacing: 0rem;
    color: #08A6E4;
    padding: 20px 0 6px 0;
}

.footer__text {
    font: normal normal normal 0.6875rem/0.9375rem Open Sans;
    letter-spacing: 0rem;
    color: #A5A5A5;
    padding-bottom: 17px;
}

.footer_icons {
    padding: 35px 0 30px 0;
}


.consent__checkbox  input[type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .consent__checkbox {
    cursor: pointer;
  
    display: flex;
    gap: 10px;
  }

  .consent__checkbox span {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #95989A;
    border-radius: 4px;
  
    flex-shrink: 0;
  }

  .consent__checkbox input:checked + span {
    background-image: url("/Images/Checkmark.svg");
    background-size: 12px 9px;
    background-position: center;
    background-repeat: no-repeat;
  }